<!DOCTYPE HTML>
<html>
	<head>
		<title>v-if If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards-->
		<style>
			.special {background:yellow; border: 1px dotted #fe0000; padding:30px; display:block; text-align:center;}
			.important {font-weight:bold; font-size:30px;}
			.card {
				box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
				transition: 0.3s;
				width: 40%;
				}

			.card:hover {
			box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
			}

			.container {
			padding: 2px 16px;
			}
		</style>
	</head>
	<body>
	
	<div id="app">
		<!-- <span v-if="profile">
			Profile of {{profile.fname}} {{profile.lname}} 
		</span>
		<span v-else>
			No Profile Data found.
		</span> -->
		<!-- ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_cards-->
		<div class="card">
			<img v-if="profile.pic" :src="profile.pic" alt="Avatar" style="width:100%">
			<img v-else src="img/img_avatar.png" alt="Avatar" style="width:100%">
			<div class="container">
				<h4 v-if="profile.fname">
					<b>{{profile.fname}}</b>
				</h4>
				<h4 v-else>
					<b>No firstname provided</b>
				</h4> 
				<h4 v-if="profile.lname">
					<b>{{profile.lname}}</b>
				</h4>
				<h4 v-else>
					<b>No lastname provided</b>
				</h4> 
				<p v-if="profile.desc">
					<b>Desc: </b>{{profile.desc}}
				</p>
				<p v-else>
					<b>Desc: </b>No Description Provided!
				</p>
				<p v-if="profile.bio">
					<b>Bio: </b>{{profile.bio}}
				</p>
				<p v-else>
					<b>Bio: </b> No bio found!
				</p> 
			</div>
		</div>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		
		data:{
			profile:{
				fname: "Yash",
				lname: "Pathak",
				desc: "",
				bio: "I'm a full stack developer",
				pic: "img/yashpathak.jpeg"
			}
		}
		
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>